body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: black;
    margin:auto;
}

.dark-mode {
    background-color: black;
    color: white;
}

#board{
    width: 500px;
    height: 500px;
    border: 10px solid darkgray;
    background-color: lightgray;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    width: 60.5px;
    height: 60.5px;
    border: 1px solid white;

    /* text */
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board div.medium {
    width: 48px;
    height: 48px;
    border: 1px solid white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board div.hard {
    width: 23px;
    height: 23px;
    border: 1px solid white;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
}

#easy-button {
    margin: 10px;
    background-color: lightgreen;
}

#medium-button {
    margin: 10px;
    background-color: lightyellow;
}

#hard-button {
    margin: 10px;
    background-color: lightcoral;
}

.tile-clicked {
    background: darkgray;
}

.icon1{
    color: blue;
}

.icon2{
    color: green;
}

.icon3{
    color: red;
}

.icon4{
    color: navy;
}

.icon5{
    color: brown;
}

.icon6{
    color: teal;
}

.icon7{
    color: black;
}

.icon8{
    color: gray;
}

#flag-button{
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: lightgray;
    border: 1px solid;
}

#dig-button{
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: darkgray;
    border: none;
}
#reset-button{
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: lightgray;
    border: 1px solid;
    margin: 10px;
}

#dark-button{
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: lightgray;
    border: 1px solid;
    margin: 10px;
}



